<div class="row">
            @for(item of posts;track $index){

    <div class="col-3">
        
                <div class="card">
            <div class="card-body">
                <h4 class="card-title">BootStrap</h4>
                <p class="card-text">
                    A Pre-defined CSS Framework
                </p>
                <a href="...Add A link here..." class="card-link">Card link</a>
                <a href="...Add A link here..." class="card-link">Another link</a>
            </div>
            </div>
    </div>

            }
</div>